[submodule "themes/hugo-eureka"]
	path = themes/hugo-eureka
	url = https://github.com/wangchucheng/hugo-eureka.git
[submodule "themes/hugo-geekblog"]
	path = themes/hugo-geekblog
	url = https://github.com/thegeeklab/hugo-geekblog.git
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = https://github.com/nanxiaobei/hugo-paper.git
[submodule "themes/gohugo-theme-ananke"]
	path = themes/gohugo-theme-ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
